<!-- about.html -->
<div class="streams-list-bg">
</div>
<div class="clearfix streams-list-body" hm-swipe-right="subtractQuestionCount()" hm-swipe-left="addQuestionCount()">
    <header>
      <img src="images/twisted.png">
    </header>
    <div class="clearfix streams-list-wrapper" ng-repeat="(key, node) in nodes" finish-render>
        <div class="streams-list-inner" ng-show="questionCount === {{ key }}">
          <div class="col-xs-12 instructions" ng-show="questionCount === 0">Match each review with the product it is describing.</div>
          <div class="col-xs-12 quote" data-nid="{{ node.nid }}"><span ng-bind-html="node.body | rawHtml"></span></div>
          <div class="clearfix streams-list-wrapper-inner">
            <div class="col-xs-12 list" ng-bind-html="node.field_possible_answers | rawHtml">
            </div>
          </div>
          <button class="btn btn-secondary" ng-click="subtractQuestionCount()" ng-hide="key === 0">
            Previous
          </button>
          <button class="btn btn-primary" ng-click="addQuestionCount()">
            Next
          </button>
        </div>
    </div>
    <div class="results" ng-show="questionCount === nodes.length">
      <div class="col-sm-12"><h2>Results.</h2>
        <div class="result-count"></div>
      </div>
      <button class="btn btn-primary" ng-click="subtractQuestionCount()">
        Previous
      </button>
    </div>
</div>